@import "tailwindcss";

@theme inline {
  --color-black: #000000;
  --color-grey-100: #2d2d2d;
  --color-grey-200: #1a1a1a;
  --color-white: #ffffff;
  --color-red: #d12525;
}

@layer base {
  body {
    color: var(--color-white);
  }
}
